{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
    <header>
        C'est très beau les coxigrue
    </header>
{% endblock %}

{% block body %}
    <h1>
        {{ author.fullName }}
    </h1>

    <h2>Liste des livres : </h2>

    <ul>
        {% for book in author.books %}
            <li>
                <a href="{{ path('book_show', {'slug': book.slug}) }}">
                    {{ book.title }}
                 </a>

            </li>
        {% endfor %}

    </ul>


{% endblock %}

